body {
  background-color: #12181b;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; }

#home {
  display: flex;
  flex-direction: row; }
  #home #posts-container {
    width: 70%;
    padding: 10px;
    border-right: 1px solid grey; }
    #home #posts-container #post-input-box {
      margin-bottom: 10px; }
      #home #posts-container #post-input-box h4 {
        font-size: 22px; }
      #home #posts-container #post-input-box textarea {
        height: 70px;
        width: 350px;
        resize: none; }
  #home #user-friends {
    width: 30%;
    padding: 10px; }
    #home #user-friends h4 {
      font-size: 22px; }
    #home #user-friends a {
      font-size: 18px;
      text-decoration: none;
      color: whitesmoke;
      padding: 2.5px; }
    #home #user-friends p {
      height: 25px;
      width: 100%;
      line-height: 20px; }
    #home #user-friends p:hover {
      background-color: #1d272c; }
